@model UserLogin

@{
    ViewBag.Title = "Change Password";
    Layout = "_NormalUserLayout";
}
@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}
@if (TempData["Warning"] != null)
{
    <div class="alert alert-danger">@TempData["Warning"]</div>
}
<form asp-action="ChangePassword" method="post">
    <div class="form-group">
        <label for="OldPassword">Old Password</label>
        <input type="password" class="form-control" id="OldPassword" asp-for="OldPassword" placeholder="Enter old password">
    </div>
    <div class="form-group">
        <label for="Password">New Password</label>
        <input type="password" class="form-control" id="Password" asp-for="Password" placeholder="Enter new password">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>


