@{
    ViewBag.Title = "Home Page for Normal User";
}

<h2>Welcome, @User.Identity.Name!</h2>

<p>You can do the following actions:</p>
<ul>
    @* <li><a href="@Url.Action("BorrowBook", "Book")">Borrow a book</a></li> *@
    @* <li><a href="@Url.Action("ViewBorrowedBooks", "Book")">View borrowed books</a></li> *@
</ul>